{% extends "base.html" %}
{% block content %}
    <title> {{ product.name }} </title>
    <img src="{{ product.thumbnail }}" alt="{{ product_detail.name }}" width="300">
    <h1>{{ product.name }} </h1>
    
    <h1><b>{{ product.category }}</b> {% if product.is_hot %} | 
        <b>HOT</b>{% endif %} | <b> SOLD: {{ product.sold }} </b></h1>

    <p> {{ product.description }} </p>
    <a href="{% url 'main:buy_product' product.id %}"><button>Buy Product</button></a>
    <a href="{% url 'main:display' %}"><button>Go Back</button></a>
{% endblock content %}