{% extends "base.html" %}
{% block content %}
    <title> {{ product.name }} </title>
    <img src="{{ product.thumbnail }}" alt="{{ product_detail.name }}" width="300">
    <h1>{{ product.name }} </h1>
    
    <h2><b>{{ product.category }} {% if product.is_hot %} | 
        HOT{% endif %} | {{ product.user.username }} | SOLD: {{ product.sold }}</b></h2>

    <p> {{ product.description }} </p>
    <a href="{% url 'main:buy' product.id %}"><button>Buy Product</button></a>
    <a href="{% url 'main:display' %}"><button>Go Back</button></a>
{% endblock content %}