{% extends "base.html" %}

{% block meta %}
<title> Edit Product </title>
{% endblock meta %}

{% block content %}
    <div class="container mt-4" style="outline: auto; padding: 50px; color: gray;">
        <h2 style="text-align: center; font-weight: bold; color: black;">Edit Product</h2>
        <form method="POST">
          <div class="container mt-4" style="color: black;">
            {% csrf_token %}
            <div class="mb-3">
              {{ form.name.label_tag }}
              {{ form.name }}
            </div>
            <div class="mb-3">
              {{ form.category.label_tag }}
              {{ form.category }}
            </div>
            <div class="mb-3">
              {{ form.price.label_tag }}
              {{ form.price }}
            </div>
            <div class="mb-3">
              {{ form.description.label_tag }}
              {{ form.description }}
            </div>
            <div class="mb-3">
              {{ form.thumbnail.label_tag }}
              {{ form.thumbnail }}
            </div>
            <div class="d-flex mb-3  gap-2 lign-items-center">
                <button type="submit" class="btn" style="background-color: aqua; color: #ffffff;">Sell</button>
                <a href = "{% url 'main:display' %}" class="btn">Cancel</button>
            </div>
          </div>
        </form>
    </div>
{% endblock content %}